<div id="<%= dom_id member_group %>">
  <p>
    <strong>Name:</strong>
    <%= member_group.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= member_group.description %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= member_group.organisation_id %>
  </p>

</div>
