<div id="<%= dom_id organisation %>">
  <p>
    <strong>Name:</strong>
    <%= organisation.name %>
  </p>

  <p>
    <strong>Vat number:</strong>
    <%= organisation.vat_number %>
  </p>

  <p>
    <strong>Coc number:</strong>
    <%= organisation.coc_number %>
  </p>

</div>
